[EBA]
row=0
col=0

[OGM Materyal]
row=1
col=0

[MEBI]
row=2
col=0

[Ders Kitaplari]
row=3
col=0

[Beyaz Tahta]
row=0
col=1

[PDF Ac]
row=1
col=1

[Sunum Ac]
row=2
col=1

[Video Ac]
row=3
col=1

[Dersi Bitir]
row=4
col=1
