[Desktop Entry]
Type=Application
Name=MEBI
Comment=MEBI konu anlatimlari ve etkinlikler
Exec=atlasos-open mebi
Icon=text-html
Terminal=false
Categories=Education;Network;
